@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo/Arimo.eot");
    src: url("../fonts/Arimo/Arimo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arimo/Arimo.woff2") format("woff2"),
    url("../fonts/Arimo/Arimo.woff") format("woff"),
    url("../fonts/Arimo/Arimo.ttf") format("truetype"),
    url("../fonts/Arimo/Arimo.svg#Arimo") format("svg");
}
.the-main-table{
    border: 30px solid #3a4965;
    margin: 0 auto;
    position: absolute;
}
.standard-cost{
    background-color: #fafafa;
}
.first-row-first-container{
    width: 198px;
    font-weight: 500;
    height: 113px;
    background-color:#f2f2f2;
}
.size-of-234{
    width:198px;
    font-weight: 600;
    height: 167px;
    position: relative;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    justify-content: center;
}
.second-row-first-container{
    background-color: #89c331;

}
.third-row-first-container{
    background-color: #f04a56;
}
.fourth-row-first-container{
    background-color: #20807c;
}
.first-row-content{
    width: 157px;
    height: 112px;
}
.main-content-containers{
    width: 157px;
    height: 166px;
    box-shadow: inset 0 9px 5px -10px black;

}
.main-content-containers >p{
    text-align: center;
    margin:  0 auto;
    font-size: 18px;
    font-family: "Arimo", sans-serif;
}
.button{
    width: 144px;
    height: 41px;
    background-color:#414141;
    color: white;
    border-radius: 10px;
    justify-content: center;
    outline: none;
}
.button:hover{
    background-color: red;
    transform: scale(2, 1);
}
.choose-your{
    margin: 0 auto ;
    text-align: center;
    font-size: 18px;
    font-family: "Arimo", sans-serif;
}
.pricing-plan{
    text-align: center;
    font-size:23px;
    font-weight: 600;
    font-family: "Arimo", sans-serif;
    margin: 0 auto ;
}
.row-styles td:nth-child(even){
    background-color:#e3e3e3;
}
.row-styles .main-content-containers,.first-row-content:nth-child(2n+1){
    background-color:#f2f2f2;
}
.fas{
    color: #848484;
    text-align: center;
    font-size: 18px;
    padding-left: 66px;
}
.first-row-content > p {
    text-align: center;
    font-weight: 600;
    font-family: "Arimo", sans-serif;
    font-size: 22px;
    margin: 0 auto;
}
.dollars{
    font-size:36px;
    font-family: "Arimo", sans-serif;
    color: white;
    margin: 0 ;
}
.offer{
    font-size: 30px;
    font-family: "Arimo", sans-serif;
    margin: 0;
    color: white;
    align-self: center;
}
.fraction-dollar{
    position: absolute;
    color: white;
    font-size:20px;
    margin: 0;
    top: 60px;
    left: 56px;
    font-family: "Arimo", sans-serif;
}
.per-month{
    position: absolute;
    color: white;
    margin: 0;
    top: 75px;
    left: 82px;
    font-size: 13px;
    font-family: "Arimo", sans-serif;

}