@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo/Arimo.eot");
    src: url("../fonts/Arimo/Arimo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arimo/Arimo.woff2") format("woff2"),
    url("../fonts/Arimo/Arimo.woff") format("woff"),
    url("../fonts/Arimo/Arimo.ttf") format("truetype"),
    url("../fonts/Arimo/Arimo.svg#Arimo") format("svg");
}
.the-main-table{
    border: 25px solid #3a4965;
    margin: 0 auto;
}
.choose{
    width: 310px;
    height: 156px;
    box-shadow: inset 9px 0 5px -10px black;
}
.choose-your{
    font-size: 18pt;
    font-family: "Arimo", sans-serif;
    margin:0;
    text-align: center;
}
.pricing-plan{
    font-size: 30pt;
    font-family: "Arimo", sans-serif;
    margin:0;
    text-align: center;
}
.standard-offer{
    background-color: #89c331;
    width:277px ;
    height: 70px;
    box-shadow: inset 9px 0 5px -10px black;
    text-align: center;
}
.standard-offer > p{
    font-size: 32px;
    font-family: "Arimo", sans-serif;
    color: white;
    margin: 0;
}
.colspan-first{
    box-shadow: inset 9px 0 5px -10px black;

}
.ultimate-offer{
    background-color:#f04a56;
    width:277px ;
    height: 70px;
    border: 1px solid grey;
    text-align: center;
}
.ultimate-offer > p{
    font-size: 40px;
    font-family: "Arimo", sans-serif;
    color: white;
    margin: 0;
}
.premium-offer{
    background-color:#20807c;
    width:277px ;
    height: 70px;
    border: 1px solid grey;
    text-align: center;
}
.premium-offer > p{
    font-size: 32px;
    font-family: "Arimo", sans-serif;
    color: white;
    margin: 0;
}
.standard-cost,.premium-cost,.ultimate-cost{
    width:277px;
    height: 86px;
    background-color: #fafafa;
    box-shadow: inset 9px 0 5px -10px black;
}
.worth-of-package-wrapper{
    position: relative;
}
.worth-of-package{
    font-size: 60px;
    font-family: "Arimo", sans-serif;
    margin:0 0 0 35px;
    font-weight: 600;
}
.fracture-value{
    position: absolute;
    top: -27px;
    left:130px;
    font-size: 32px;
    font-family: "Arimo", sans-serif;
    font-weight: 600;
}
.per-month-word{
    position: absolute;
    top: 13px;
    display: inline-table;
    left: 130px;
    font-size: 22px;
    font-family: "Arimo", sans-serif;
}
.fa-archive , .fa-envelope , .fa-cloud-upload-alt , .fa-life-ring , .fa-cube , .fa-users{
    font-size: 30px;
    color:#848484;
    margin-top: 16px;
    margin-right: 10px;
}
.first-column{
    width: 310px;
    height:69px;
    display: inline-flex;
    justify-content:center;

}
.conditions-column{
    width: 279px;
    box-shadow: inset 9px 0 5px -10px black;
    height:69px;
}

.conditions-style{
    text-align: center;
    font-size: 16pt;
    font-family: "Arimo", sans-serif;
}

.conditions-style-first-column{
   text-align: center;
    font-size: 21px;
}


.buy-now-section{
    text-align: center;
    box-shadow: inset 9px 0 5px -10px black;
    height: 100px;
}
.buy-now-section:nth-child(1){
    background-color:#dddddd;
}
.buy-now-section:nth-child(3){
    background-color: #f4f4f4;
}
.buy-now-section:nth-child(even){
    background-color:#eeeeee;
}
.button-properties{
    width: 190px;
    height: 50px;
    border-radius: 10px;
    font-size: 21px;
    font-family: "Arimo", sans-serif;
    color: white;
    outline: none;
}
.dark-grey-button{
    background-color: #484848;
}
.dark-grey-button:hover{
    background-color: yellow;
    color:black;
    font-size: 25px;
    font-family: "Arimo", sans-serif;
}
.green-button{
    background-color: #89c331;
}
.green-button:hover{
    background-color: #f04a56;
    color:violet;
}
.red-button{
    background-color: #f04a56;
}
.red-button:hover{
    background-color: #89c331;
    color: black;
}
.blue-button{
    background-color:#20807c;
}
.blue-button:hover{
    background-color: yellow;
    color: red;
}
.first-row , .third-row , .fifth-row{
    background-color:#f2f2f2;
}
.second-row , .fourth-row , .sixth-row{
    background-color:#e3e3e3;
}


